<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training Gym!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="{% url 'home' %}">Inicio</a>
            </li>
            <li>
                <a href="{% url 'entrenador:clients_page' %}">Alumnos</a>
            </li>
            <li>
                <a href="{% url 'entrenador:exercise_page' %}">Ejercicios</a>
            </li>
            <li>
                <a href="{% url 'entrenador:routine_page' %}">Rutinas</a>
            </li>
            <li>
                <a href="{% url 'entrenador:equipment_page' %}">Equipos</a>
            </li>
            <li>
                <a href="{% url 'entrenador:trainers_page' %}">Entrenadores</a>
            </li>
        </ul>
    </nav>

    <!-- Aquí va el contenido específico de cada página -->
    {% block content %}
    {% endblock %}

</body>
</html>