<aside class="sidebar">
    <div class="app-name">
        <h1>TRAINING!</h1>
    </div>

    <div class="menu-section-title">Menú</div>

    <div class="menu-items">
        <a href="{% url 'entrenador:home' %}" class="menu-item" id="menu-inicio">
            <i class="fas fa-home"></i><span>Inicio</span>
        </a>
        <a href="{% url 'entrenador:clientes' %}" class="menu-item" id="menu-clientes">
            <i class="fas fa-users"></i><span>Clientes</span>
        </a>
        <a href="{% url 'entrenador:ejercicios' %}" class="menu-item" id="menu-ejercicios">
            <i class="fas fa-dumbbell"></i><span>Ejercicios</span>
        </a>
        <a href="{% url 'entrenador:rutinas' %}" class="menu-item" id="menu-rutinas">
            <i class="fas fa-clipboard-list"></i><span>Rutinas</span>
        </a>
        <a href="{% url 'entrenador:entrenadores' %}" class="menu-item" id="menu-entrenadores">
            <i class="fas fa-user-tie"></i><span>Entrenadores</span>
        </a>
        <a href="{% url 'entrenador:equipos' %}" class="menu-item" id="menu-equipamiento">
            <i class="fas fa-dumbbell"></i><span>Equipamiento</span>
        </a>
        <!-- Nuevo enlace para Músculos -->
        <a href="{% url 'entrenador:musculos' %}" class="menu-item" id="menu-musculos">
            <i class="fas fa-running"></i><span>Músculos</span>
        </a>
    </div>
</aside>