{% load static %}
<aside class="sidebar">
    <div class="app-name">
        <h1>TRAINING!</h1>
    </div>

    <div class="menu-section-title">Menú</div>

    <div class="menu-items">
        <a href="/entrenador/" class="menu-item" id="menu-inicio">
            <i class="fas fa-home"></i><span>Inicio</span>
        </a>
        <a href="/entrenador/clientes/" class="menu-item" id="menu-clientes">
            <i class="fas fa-users"></i><span>Clientes</span>
        </a>
        <a href="/entrenador/ejercicios/" class="menu-item" id="menu-ejercicios">
            <i class="fas fa-dumbbell"></i><span>Ejercicios</span>
        </a>
        <a href="/entrenador/rutinas/" class="menu-item" id="menu-rutinas">
            <i class="fas fa-clipboard-list"></i><span>Rutinas</span>
        </a>
        <a href="/entrenador/equipos/" class="menu-item" id="menu-equipos">
            <i class="fas fa-dumbbell"></i><span>Equipos</span>
        </a>
        <a href="/entrenador/entrenadores/" class="menu-item" id="menu-entrenador">
            <i class="fas fa-user-tie"></i><span>Entrenadores</span>
        </a>
    </div>
</aside>